<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="akka" type="Akka.Configuration.Hocon.AkkaConfigurationSection, Akka" />
  </configSections>
  <akka>
    <hocon>
      <![CDATA[
        akka {  
            actor {
                provider = "Akka.Remote.RemoteActorRefProvider, Akka.Remote"
            }
            remote {
                dot-netty.tcp {
                    transport-class = "Akka.Remote.Transport.DotNetty.TcpTransport, Akka.Remote"
                    applied-adapters = []
                    transport-protocol = tcp
                    port = 8081
                    hostname = "127.0.0.1"
                }
            }
        } 
]]>
    </hocon>
  </akka>

</configuration>